@model IEnumerable<Site.Models.Entities.Vechicle>
@inject Site.Models.Services.ICommonDataManager _service

@{
    ViewData["Title"] = "CarIndex";
    Layout = "_LayoutAdmin";

    int n = 3;
}

<h1>CarIndex</h1>

<p>
    <a asp-controller="Admin" asp-action="CreateVechicle" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VechicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufactured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VechicleState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                User FullName
            </th>
            <th>
                Photos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VechicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufactured.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VechicleState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @ViewBag.data[item.UserId]
            </td>
            <td>
                @foreach (var _f in item.Files)
                {
                    <p><img src="@Url.Content(_f.Path)" width="150" height="100"></p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVechicle", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "DetailsVechicle", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "DeleteVechicle", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
