@model IEnumerable<Site.Models.Entities.User>

@{
    ViewData["Title"] = "ShowUsers";
    Layout = "_LayoutAdmin";
}

<h1>ShowUsers</h1>

<p>
    <a asp-controller="Admin" asp-action="CreateUsers" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUsers", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "DetailsUsers", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "DeleteUsers", new { id = item.Id }, new { @class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
