@*@model IEnumerable<Site.Models.Entities.VechicleUser>*@
@model Site.Models.Entities.MainViewModel

@{
    ViewData["Title"] = "Home Page";

    var filter = Model.Filter;
    var vechicles = Model.Vechicles;
}

@section StyleDependencies{

    <link href="~/css/index.css" rel="stylesheet" />

}

@section MainContent{

    <div class="UpBlock">
        @*<h2>All Cars</h2>*@
    </div>


    <div class="container-fluid">
        <div class="row filterForm">
            <form asp-controller="Home" asp-action="Index" method="GET">
                <div class="row">
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        <input type="text" name="Search" value="@filter.Search" class="form-control filterElem" placeholder="Tesla Model X USA"/>
                    </div>
                    <div class="col-2">
                        <select asp-items="@Html.GetEnumSelectList<VechicleState>()" name="VechicleState" class="form-select filterElem">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select asp-items="@Html.GetEnumSelectList<VechicleType>()" name="VechicleType" class="form-select filterElem">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        <input class="btn btn-primary" type="submit" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            @foreach (var item in vechicles)
            {

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="card" style="width: 18rem;">
                        @if (item.Files.Count != 0)
                        {
                            <img src="@Url.Content(item.Files[0].Path)" class="card-img-top" alt="...">
                        }
                        else
                        {
                            <img src="~/files/model_y.jpg" class="card-img-top" alt="...">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <h4>@item.Model</h4>
                            <p class="card-text">Price: @item.Price $</p>
                            <a asp-controller="Home" asp-action="ShowDetailsCar" asp-route-id="@item.Id" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



@section ScriptsDependencies{

    @*<script src="~/js/index.js"></script>*@

}

